.footer {
    height: 15%;
    width: 100%;
    color: #fff;
    display: flex;
    font-size: 11px;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: flex-start;
    justify-content: center;
}

.github {
    width: 32px;
    color: #fff;
    background: none;
    font-size: 24px;
    line-height: 32px;
}