.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
    overflow: hidden;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.spacer {
    flex: 1;
    display: flex;
}

.title {
    display: flex;
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    flex-direction: row;
    align-items: center;
    align-content: center;
    align-self: flex-start;
    justify-content: center;
}

.title-link {
    text-decoration: none;
}

.title-wrapper {
    margin: 0;
    height: 15%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}