.chart[data-percent='100'] .outer {
    stroke-dashoffset: 0;
    -webkit-animation: show100 2s;
    animation: show100 2s;
}
  
.chart[data-percent='75'] .outer {
    stroke-dashoffset: 133;
    -webkit-animation: show75 2s;
    animation: show75 2s;
}
  
.chart[data-percent='50'] .outer {
    stroke-dashoffset: 267;
    -webkit-animation: show50 2s;
    animation: show50 2s;
}
  
.chart[data-percent='25'] .outer {
    stroke-dashoffset: 401;
    -webkit-animation: show25 2s;
    animation: show25 2s;
}

.close {
    top: 0;
    right: 0;
    margin: 4px;
    position: relative;
}

.most-recent, .most-starred, .most-issues, .largest-size {
    z-index: 0;
    margin: 2px;
    width: 220px;
    height: 100%;
    flex-wrap: wrap;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;
}

.detail {
  top: 10%;
  width: 100%;
  height: 100%;
  color: #fff;
  display: block;
  position: relative;
  transition: all .5s ease-in-out;
}

.detail.active {
    top: -100%;
    transition: all .5s ease-in-out;
}

.detail-title {
    padding-top: 20px;
    text-transform: uppercase;
}

.most-recent:hover, 
.most-starred:hover, 
.most-issues:hover, 
.largest-size:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.most-recent .outer {
    stroke: #b547ef;
}

.most-recent-detail {
    background: #b547ef;
}

.most-starred .outer {
    stroke: #fc00ff;
}

.most-starred-detail {
    background: #fc00ff;
}

.largest-size .outer {
    stroke: #6f98e4;
}

.largest-size-detail {
    background: #6f98e4;
}

.most-issues .outer {
    stroke: #21bfe3;
}

.most-issues-detail {
    background: #21bfe3;
}

.outer {
    stroke-width: 4;
    fill: transparent;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1.5s;
    -moz-transform: rotate(-89deg) translateX(-190px);
}

.panel-wrap {
    top: 0;
    height: 100%;
    position: relative;
}

.result-text,
.detail-title {
    margin: 0;
    padding-top: 16px;
}

.result-footer-text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.result-text {
    color: #fff;
    font-size: 12px;
    flex-direction: row;
    text-transform: uppercase;
}

@-webkit-keyframes show100 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes show100 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes show75 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 134;
    }
  }
  
  @keyframes show75 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 124;
    }
  }
  
  @-webkit-keyframes show50 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 267;
    }
  }
  
  @keyframes show50 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 267;
    }
  }
  
  @-webkit-keyframes show25 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 401;
    }
  }
  
  @keyframes show25 {
    from {
      stroke-dashoffset: 537;
    }
    
    to {
      stroke-dashoffset: 401;
    }
  }